

@keyframes girar{
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg)}
}

.MainBlack{
    background:black;
}

.MainWhite{
    background:rgb(255, 255, 255);
}


:root{
    --AcceptColor:blue;
    }

